/* Wallpapers */
.staffpage {
	background-image: url('../img/eraserhead-wallpaper.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.heroespage{
	background-image: url('../img/600689.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


